<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="Website about the Twitch chatbot, Yucibot.">
<title>Yucibot</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
<script>
window.addEventListener("hashchange", function (x) {
    if (x.newURL.split("#")[1] == "bots") return
    window.scrollTo(window.scrollX, window.scrollY - 100);
});
</script>
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="./stylesheet.css">
</head>
<body>

<div class="header">
<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
  <a class="pure-menu-heading">Yucibot</a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
    <li class="pure-menu-item"><a href="#about" class="pure-menu-link">About</a></li>
    <li class="pure-menu-item"><a href="#features" class="pure-menu-link">Features</a></li>
    <li class="pure-menu-item"><a href="#bots" class="pure-menu-link">Bots</a></li>
  </ul>
</div>
</div>

<div class="splash-container">
  <img src="https://images2.alphacoders.com/698/thumb-1920-698137.jpg">
  <div class="splash">
    <h1 class="splash-head">Yucibot</h1>
    <p class="splash-subhead">A multipurpose Twitch chatbot written in Node.js</p>
    <p><a href="https://www.github.com/Mstiekema/Yucibot" id="gButton" target="_blank" class="pure-button splashButton">Github</a></p>
  </div>
</div>

<div class="container-fluid content-wrapper">
  <div class="content">
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <div class="row text-center">
          
          <div id="about">
            <h2 class="content-head center">What is Yucibot?</h2>
            <p>Yucibot is designed to be a multipurpose chatbot that every streamer can use. It should help the streamer and the viewer to create a better and more pleasant experience during the stream. A streamer should only have one bot, so this bot has everything you need. So stop using your Nighbot, Moobot or Ankhbot and start using Yucibot! <br>
            I originally started working on this bot as a fun learning project, but it turned out to be a pretty good success. I now try to target a bigger audience by including more and more features that everyone can use. Suggestions for new features are always welcome, so don't hesitate to give them.<br>
            The bot gets frequent updates, so you can always look forward to new features.</p>
          </div>
          
          <div id="features">
            <h2 class="content-head center">Yucibot features</h2>
            <div class="featureList"><h3>Point system</h3>
              Viewers can earn points by watching the stream. By default you earn 5 points every 5 minutes. With these points users can buy commands and gamble to earn more. You can gamble by using the roulette & slot command. Another way to earn points is to participate in the dungeon event. By earning points you can also climb the leaderboards and show up in the top 5 on the stats page.
            </div>
            <div class="featureList"><h3>Stat tracking</h3>
              Everything you do in chat is recorded by the bot. It keeps track of your lines typed, points and much more. One of the special features is that the bot can track the emote usage of your chat. With this you can see on the website how many times a certain emote is used.
            </div>
            <div class="featureList"><h3>Moderation tools</h3>
              Twitch chatbots always come with some mod tools. The bot currently is able to detect links in chat. You can also filter words in the bot. The filter will find any word in a messages and punishes the user by a purge, time-out or ban.
            </div>
            <div class="featureList"><h3>Songrequest</h3>
              Every user can request songs in the chat if you enable the songrequest module. By default only subs are able to request songs, but this can be changed in the settings. You can also change the max length of a song or the max amount of songs in the queue. If a song exceeds the max length, you are still able to request is, but it will get skipped at the max timestamp.
            </div>
            <div class="featureList"><h3>Custom commands</h3>
              You can add your own commands in the bot. You can customize the settings of your command so it can cost money or have an extended cooldown. More settings for the custom commands will come in the future.
            </div>
            <div class="featureList"><h3>Chat logger</h3>
              Every message that someones types in the chat will be logged and stored into the database. You can retrieve a users log by going to their profile page on the website. Selecting a certain date will retrieve the logs for that day. You are also able to retrieve the entire user log, but this is not recommended.
            </div>
            <div class="featureList"><h3>Polling system</h3>
              Ever wanted to make your own polls within your chatbot? That's possible with Yucibot! You can create and manage polls in the admin section. Voting is IP based, so voting multiple times ins't possible.
            </div>
            <br><button type="button" class="center featureButton btn btn-primary btn-lg" id="fullFeatures">Full feature list</button>
            <script>
              document.getElementById("fullFeatures").addEventListener("click", function() {
                BootstrapDialog.show({
                  title: 'All features',
                  size: BootstrapDialog.SIZE_LARGE,
                  message: '<b>Point games</b> \
                        <br>- Roulette \
                        <br>- Slot machine \
                        <br>- Dungeon (WIP) \
                      <br><br><b>Fun features </b> \
                        <br>- Songrequest \
                        <br>- Google a question \
                        <br>- CLR interaction \
                        <br>- Check Overwatch stats \
                        <br>- Special timers & events \
                      <br><br><b>Moderation tools </b> \
                        <br>- Word filter \
                        <br>- Link filter \
                        <br>- Custom commands \
                        <br>- Host polls on website \
                      <br><br><b>Profile related</b> \
                        <br>- Emote tracking \
                        <br>- Chat logger \
                        <br>- Point System \
                        <br>- Profile information commands\
                        <br>- Profile info on website\
                      <br><br>And more to come... \
                    </p>',
                  buttons: [{
                    label: 'Close',
                    action: function(dialog) {
                      dialog.close();
                    }
                  }]
                });
              })
            </script>
          </div>
          
          <div id="bots">
            <h2 class="content-head center">Live examples</h2>
            These are some of the bots I'm currently running myself. <br><br>
            <a target="_blank" href="http://midnan.yucibot.nl"><b>Midnanbot</b></a> - Stream is: <%= midnanStat %> with <%= midnanView %> viewers <br>
            <a target="_blank" href="http://pixel.yucibot.nl"><b>Pixelbot</b></a> - Stream is: <%= dionStat %> with <%= dionView %> viewers <br>
            <a target="_blank" href="http://dion.yucibot.nl"><b>InsaneDionBot</b></a> - Stream is: <%= pixelStat %> with <%= pixelView %> viewers <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
