<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="Website about the Twitch chatbot, Yucibot.">
<title>Yucibot</title>
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="./stylesheet.css">
</head>
<body>

<div class="header">
<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
  <a class="pure-menu-heading" href="#">Yucibot</a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
    <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
    <li class="pure-menu-item"><a href="/features" class="pure-menu-link">Features</a></li>
    <li class="pure-menu-item"><a href="/live" class="pure-menu-link">Bots</a></li>
  </ul>
</div>
</div>

<div class="splash-container">
  <img src="https://images2.alphacoders.com/698/thumb-1920-698137.jpg">
  <div class="splash">
      <h1 class="splash-head">Yucibot</h1>
      <p class="splash-subhead">
          A multipurpose Twitch chat bot written in Node.js
      </p>
      <p>
        <a href="https://www.github.com/Mstiekema/Yucibot" target="_blank" class="pure-button splashButton">Github</a>
      </p>
  </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head center">What is Yucibot?</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-cog"></i>
                    Yucibot is for the viewers
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at elit nibh. Quisque id eleifend mauris. Nam leo dui, facilisis quis nunc at, porttitor luctus lorem. Vestibulum mattis viverra scelerisque. Donec laoreet, orci at venenatis suscipit, nisl elit semper massa, et dignissim dui nulla vitae erat. Proin et ligula turpis. Fusce sed cursus lorem. Nam quis eros et libero interdum aliquet. Maecenas metus ante, ultrices quis facilisis ut, dapibus et nisi. Aliquam risus ante, sagittis eu porta eu, finibus vitae libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras magna sapien, malesuada id vestibulum vitae, lacinia in libero. Phasellus in egestas libero. Vivamus dapibus ligula eget rhoncus tristique. Etiam id porta mi.

                  <h3 class="content-subhead">
                      <i class="fa fa-cog"></i>
                      Yucibot is for the streamer
                  </h3>

                  Curabitur lobortis sodales sem dignissim faucibus. Ut vitae lacus at nulla lacinia blandit eu at massa. Aliquam aliquet aliquet accumsan. Fusce quis lectus quis tellus congue euismod nec pharetra erat. In at nunc velit. Pellentesque cursus eleifend ullamcorper. Vivamus vulputate dapibus lacus ut molestie. Fusce consequat vestibulum massa vel hendrerit. In mi lectus, imperdiet iaculis leo sit amet, tristique tincidunt ligula. Cras nec commodo sapien. Nullam consectetur elit convallis sem consectetur dictum. Vestibulum aliquam mollis nunc, ac interdum libero dapibus eu. Aenean blandit nunc libero, sed maximus lectus dictum eu. Suspendisse ut mauris eget nulla cursus malesuada.

                  <h3 class="content-subhead">
                      <i class="fa fa-cog"></i>
                      Yucibot is everyone
                  </h3>

                  Fusce id feugiat neque. Donec sollicitudin massa eros, id finibus dolor convallis a. Etiam risus mauris, sollicitudin quis porttitor vitae, elementum a lectus. Nam rhoncus tempor mauris, et posuere libero lacinia vitae. Sed aliquet volutpat eros, a suscipit lectus venenatis ac. Morbi bibendum rutrum dolor, nec posuere urna fringilla sed. Nam ullamcorper accumsan augue sed consequat. Phasellus ut libero rhoncus, malesuada odio auctor, viverra purus. Ut sit amet porta nisl. Nunc non orci eu nisi sodales placerat. Suspendisse efficitur ultricies tortor non gravida. Sed elementum, enim sed rhoncus lobortis, elit quam convallis nulla, id fringilla ligula urna vitae lorem. Suspendisse faucibus porta dapibus. Donec porta diam sit amet leo luctus sollicitudin. Vestibulum a molestie lectus.

                  Etiam fermentum suscipit nunc ut hendrerit. Aliquam euismod leo rutrum enim porttitor, in posuere tellus vestibulum. Phasellus ut elit posuere, venenatis leo mollis, varius mauris. Morbi convallis sagittis justo. Sed maximus erat quis nisi malesuada, ut dignissim ligula elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus semper velit nec sollicitudin sollicitudin. Ut posuere sem lacus, quis scelerisque purus imperdiet in.

                  Aliquam scelerisque accumsan odio, quis aliquet sapien facilisis ut. Nullam congue diam vitae ex porttitor, id placerat velit commodo. Nunc vitae pulvinar nisl, non lobortis sem. Fusce ipsum odio, convallis vel iaculis ac, maximus vel erat. Cras congue, mi vitae eleifend efficitur, arcu erat iaculis orci, sit amet vestibulum ante arcu vitae ex. Aenean condimentum id odio at luctus. Nullam auctor non diam et tempor. In interdum rhoncus ligula a semper. Maecenas vel risus porta, congue nisi in, facilisis enim. Aliquam erat volutpat. Nulla eu volutpat eros, vitae mollis dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis venenatis urna sit amet arcu volutpat, quis porttitor felis euismod.
                </p>


</div>
</body>
</html>
